<br />
<br />
<br />

<div class="register-container">
    
    <h2>Registro</h2>
    <form (submit)="registrar()">
      <label>Nombre:</label>
      <input type="text" [(ngModel)]="nombre" name="nombre" required />
    
      <label>Email:</label>
      <input type="email" [(ngModel)]="email" name="email" required />
    
      <label>Contraseña:</label>
      <input type="password" [(ngModel)]="password" name="password" required />
    
      <label>Teléfono:</label>
      <input type="text" [(ngModel)]="telefono" name="telefono" required />
    
      <label>Rol:</label>
      <input type="text" [value]="'usuario'" disabled /> 
      <br />
      <br />
      
    
      <button type="submit">Registrarse</button>
      <hr />
      <button type="button" (click)="irALogin()">Ya tengo cuenta</button>
    
      <p *ngIf="error" class="error-message">{{ error }}</p>
    </form>
    
  </div>
  