<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li *ngIf="!esAdmin" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>

        <li *ngIf="!authService.estaAutenticado()" class="nav-item">
          <a class="nav-link" routerLink="/login">Sign In</a>
        </li>

        
        <li *ngIf="authService.estaAutenticado() && !esAdmin" class="nav-item">
          <a class="nav-link" routerLink="/mis-pedidos">Mis Pedidos</a>
        </li>

        
        <li *ngIf="authService.estaAutenticado() && esAdmin" class="nav-item">
          <a class="nav-link" routerLink="/admin/pedidos">Ver Pedidos</a>
        </li>

        
        <li *ngIf="authService.estaAutenticado() && esAdmin" class="nav-item">
          <a class="nav-link" routerLink="/admin/usuarios">Usuarios Registrados</a>
        </li>

       
        <li *ngIf="!esAdmin && authService.estaAutenticado()" class="nav-item">
          <a class="nav-link text-black" routerLink="/carrito">
            <i class="fa fa-shopping-cart"></i>
            (<span class="fw-bold">{{carritoService.cantidad()}}</span>)
          </a>
        </li>
      </ul>

    
      <ul class="navbar-nav ms-auto d-flex justify-content-end"> 
        
        <li *ngIf="authService.estaAutenticado()" class="nav-item">
          <a class="nav-link" (click)="cerrarSesion()">Cerrar Sesión</a>
        </li>

        
        <li *ngIf="esAdmin" class="nav-item position-relative">
          <a class="nav-link position-relative" (click)="toggleNotificaciones($event)">
            <i class="fa fa-bell"></i>
            <span *ngIf="nuevasNotificaciones > 0" class="badge bg-danger position-absolute top-0 start-100 translate-middle">
              {{ nuevasNotificaciones }}
            </span>
          </a>
          <ul [ngClass]="{'show': mostrarNotificaciones}" class="dropdown-menu dropdown-menu-end">
            <li *ngFor="let notificacion of notificaciones" class="dropdown-item">
              {{ notificacion.mensaje }}
            </li>
            <li *ngIf="notificaciones.length === 0" class="dropdown-item">No hay nuevas notificaciones.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
